.expandMenu {
  background-color: red;
  position: fixed;
  right: 10px;
  border-radius: 30px;
}

md-list-item:nth-child(odd) {
  background-color: #f3f3f3;
}

md-content {
	height: 100%;
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
}